*{ margin: 0; padding: 0; box-sizing: border-box; }

.h-40{ height: 35%; }
.h-60{ height: 65%; }
#screen{ font-size: 45px; transition: 200ms ease-in-out; }
.key{ height: 20%; background: #007bff; color: white!important; font-size: 25px; border-radius: 0px; box-shadow: none!important; border: .5px solid #999; transition: 100ms linear!important; }